/* Header */

html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #4F4242;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  height: 4rem;
  width: 100%;
  font-size: 1.2rem;
}

.header-mobile {
  display: flex;
  display: none;
  width: 100%;
  justify-content: space-between;
  padding: 0px 1.5rem;
}

.header-mobile img {
  height: 2rem;
}

/* Logo */

.logo {
  display: flex;
  flex-grow: 1;
  margin-left: 1.5rem;
  align-items: center;
}

.logo-image {
  height: 2rem;
}

.logo-image img {
  height: 2.6rem;
}

.logo .ca-name {
  display: flex;
  align-items: center;
}

.logo .ca-name span:first-child {
  font-weight: bold;
  margin-right: 1.5px;
  color: #3B3131;
}

/* Nav bar */

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  text-decoration: none;
  color: #4F4242;
}

header nav span {
  margin-right: 1rem;
}

/* Banner */

#banner {
  display: flex;
  background-color: lightgrey;
}

.banner-image {
  width: 60%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.banner-image img {
  width: 100%;
}

.banner-text-container {
  display: flex;
  width: 25%;
  align-items: center;
  margin-left: 1rem;
}

/*lstned short for learn something new everyday*/

.lstned {
  text-align: left;
  font-size: 1.2rem;
}

/* Banner's big text */

.lstned h1 {
  font-width: 700;
  font-size: 2rem;
  margin: 0px;
}

.start-button p {
  padding: 0.5rem 0px;
  background-color: #4F4242;
  border-radius: 3px;
}

.start-button a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.start-button a p:hover {
  background-color: white;
  color: black;
  transition: .25s ease-out;
}

#information {
  display: flex;
  background-color: #E9E9F2;
}

.information-image {
  width: 60%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.information-image h2 {
  font-size: 2.5rem;
  margin: 2rem 0px;
}

.information-image img {
  width: 100%;
}

.right-info-container {
  border-left: lightgrey 1px solid;
  width: 35%;
  position: relative;
  top: 1rem;
}

.information-image p:last-child {
  font-family: 'Roboto';
}

.right-container {
  display: flex;
  margin-top: 1rem;
}

.right-container img:nth-child(2) {
  display: none;
}

.right-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-text-container p:first-child {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 0px;
}

.right-text-container p:nth-child(2) {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.right-text-container p:last-child {
  margin-top: 10px;
}

.right-info-container div:hover,
.right-exhibit-container div:hover {
  background-color: lightgrey;
}

.right-container img {
  width: 35%;
  height: 10.5rem;
  padding: 1rem;
}

.read-more a {
  text-decoration: none;
  color: #5B94DE;
}

.read-more a:hover {
  color: blue;
  transition: 200ms;
}

.start-learning-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  padding-bottom: 2rem;
}

.start-learning-container h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.course-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px 10rem;
}

.course {
  background: white;
  width: 30%;
  margin: 1rem;
}

.course:hover {
kiss
}

.course img {
  width: 100%;
}

.course p {
  padding: 0px 1rem;
}

.course p:nth-child(2) {
  font-weight: bold;
}

#exhibit {
  background-color: #E9E9F2;
}

#exhibit h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0px;
  font-size: 2.5rem;
}

.exhibit-container {
  display: flex;
}

.exhibit-sub-container {
  width: 60%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
}

.video-container video {
  width: 100%;
  height: auto;
}

.right-exhibit-container {
  width: 35%;
  position: relative;
  top: 1rem;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #E9E9F2;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  font-size: 0.8rem;
  border-top: lightgrey solid 1px;
}

.right-footer {
  display: flex;
  flex-direction: row;
}

.right-footer p {
  margin-right: 2rem;
}
/* Mobile Phone Size */
@media only screen and (max-width: 470px) {
  body {
    margin: 0;
  }

  .logo {
    display: none;
  }

  header nav {
    display: none;
  }

  .header-mobile {
    display: flex;
  }

  #banner {
    flex-direction: column;
  }

  .banner-image {
    width: 100%;
    margin: 0;
  }

  .banner-text-container {
    width: 100%;
    margin: 0;
  }

  .lstned {
    margin: 2rem 1rem;
    font-size: 1.8rem;
  }

  .lstned h1 {
    font-size: 2.5rem;
  }

  #information {
    padding-bottom: 2rem;
    background-color: white;
  }

  .information-image {
    display: none;
  }

  .right-container {
    display: flex;
    flex-direction: column;
  }

  .right-container img {
    width: 100%;
    height: 13rem;
  }

  .right-container img:nth-child(1) {
    display: none;
  }

  .right-container img:nth-child(2) {
    display: flex;
    padding: 0;
  }

  .right-info-container {
    width: 100%;
    margin: 0 1rem;
    border: none;
  }

  .right-text-container {
    margin-left: 1rem;
    margin-right: 6rem;
  }

  .right-text-container p:last-child {
    margin-top: 0px;
  }

  .course img {
    display: none;
  }

  .course p:nth-child(2) {
    margin: 1rem;
    padding: 0;
    font-size: 1.5rem;
    font-weight: normal;
  }

  .course p:nth-child(3),
  .course p:nth-child(4) {
    display: none;
  }

  .start-learning-container {
    background-color: white;
  }

  .start-learning-container h2 {
    margin-bottom: 1rem;
  }

  .course-container {
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .course {
    width: 26.25rem;
    background-color: lightgrey;
  }

  .right-exhibit-container {
    display: none;
  }

  .video-container-text {
    display: none;
  }

  .exhibit-sub-container {
    width: 100%;
    margin: 2rem 0 1rem 0;  
  }

  .right-footer {
    display: none;
  }

  #exhibit {
    background-color: white;
  }

  footer {
    margin: 1rem 0;
    background-color: white;
    border-top: none;
  }
}
